@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);
@import url(../blocks/width/width.css);
@import url(../fonts/fonts.css);

/*блок секции botton-hover */
@import url(../blocks/button-hover/button-hover.css);

/* попапы */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);

/*блок секции edit-form */
@import url(../blocks/edit-form/edit-form.css);
@import url(../blocks/edit-form/__item/edit-form__item.css);
@import url(../blocks/edit-form/__heading/edit-form__heading.css);
@import url(../blocks/edit-form/__button/edit-form__button.css);

/* блок секции header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* блок секции profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

/*блок секции Elements_ */
@import url(../blocks/elements/Elements.css);
@import url(../blocks/elements/__title/elements__title.css);
@import url(../blocks/elements/__like/elements__like.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__desc/elements__desc.css);
@import url(../blocks/elements/__card/elements__card.css);

/* Блок секции footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);